<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
<div class="card"  >
    <div class="card-header card-header-success">
        <p class="card-category">{{tituloText}} Tipo Servicio</p>
    </div>
    <br>
    <div class="card-body">
    
        <form #tipoServFom="ngForm">
            <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <label>Nombre*</label>
                      <input  [(ngModel)]="nombreTipoServicio"  name="nombre" matInput placeholder="" required #nomTipoServ="ngModel">
                    </mat-form-field>
                    <div *ngIf="nomTipoServ.invalid && (nomTipoServ.dirty || nomTipoServ.touched)"
                    class="alert alert-danger">
                    <div *ngIf="nomTipoServ.errors.required">
                       El nombre del tipo de servicio es requerido
                    </div>
                </div>
                
              </div>
                <div class="col-md-6">
                    <label>Necesita Código*</label>
                    <mat-form-field class="example-full-width">
                      <mat-select [(ngModel)]="necesitaCodigo" name="seleccionBeneficios"  required  #codigo="ngModel">
                       <mat-option value="Sí">Sí</mat-option>
                       <mat-option  value="No" >No</mat-option>
                      </mat-select> 
                    </mat-form-field>
                    <div *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)"
                    class="alert alert-danger">
                    <div *ngIf="codigo.errors.required">
                       Necesita código es requerido
                    </div>
                </div>
                  </div>
            </div>
            <button  [disabled]="tipoServFom.form.invalid" mat-raised-button type="submit" (click)="guardarTipoServicio()" class="btn btn-success pull-left">Guardar</button>
            <button mat-raised-button type="submit" (click)="cancelarCrearTipoServicio()"  class="btn btn-danger pull-right">Cancelar</button>

            <div class="clearfix"></div>
        </form>
    </div>
</div>
</div>
</div>
</div>
</div>
