<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <!-- <span>Copyright &copy; ICT 2020</span> -->
      <span>Cont&aacute;ctenos: 2299-5811 &#124; 2299-5797 Departamento de Gesti&oacute;n y Asesor&iacute;a Tur&iacute;stica </span><br><br>
      <span>Departamento de Tecnolog&iacute;as de la Informaci&oacute;n ICT</span><br><br>
      <span>Política de Privacidad</span>
      <br>
      <br>
      <img alt="" class="img-responsive bg-header-image img-width">

    </div>
  </div>
</footer>
