<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">¿Estás seguro que quieres cerrar la sesión?</h1>
    </header>
    <section id="modal-body">
        <p>Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual.</p>
    </section>
    <footer id="modal-footer">
        <button class="btn btn-primary"  id="modal-action-button" (click)="cerrarSesion()">Cerrar sesión</button>
        <button  class="btn btn-secondary"  id="modal-cancel-button" (click)="closeModal()">Cancelar</button>
    </footer>
</div>