
.div-principal{
  background-image: url('../../assets/img/Aurola-15-SanJose.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.div-container{
width: 100%;
}

@media only screen and (min-width: 992px) {
  .div-container{
    width: 45%;
  }
}

@media only screen and (max-width: 450px) {
  .logo{
    width: 75%;
  }
}

@media only screen and (max-width: 500px) {
  .logo{
    width: 75%;
  }
}


.div-texto{
  margin-top: 15px;
  border-bottom:1px black solid;
}

.error-message {
    display: block !important;
    margin-top: 30px !important;
    margin-left: -28px !important;
  }